
.card{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.card-body{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.btn{
    background-color: rgb(91, 186, 237);
    color: rgb(1, 22, 25);
    border: 1px solid rgb(91, 186, 237);
    border-radius: 5px;
    width: auto;
    height: 20px;
    margin: auto;
}

H3{
    text-align: center;
    color:blue;
}